<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add a button which says 'Display details'</li>
        <li>Add a paragraph wit any content of your chice (eg. 'secret password = tuna')</li>
        <li>Toggle the displaying of that paragraph with th ebutton created in the first step</li>
        <li>Log all button lclick sin an array and output hat array below the secret paragraph</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
      <hr>
      <!-- <button (click)="showSecret = !showSecret" class="btn btn-warning" (click)="onToggleDisplay()">Display Details</button> -->
    
      <button class="btn btn-primary" (click)="onToggleDetails()">Display details</button>

      <p *ngIf="showSecret === true">Secret Password =  'tundafish'</p>
      <div *ngFor="let log of logs"
        [ngStyle]="{backgroundColor : log >= 5 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': log >= 5}"
      >
        <p>{{log}}</p>
      </div>

    </div>
  </div>
</div>